*{font-size:14px;font-family:Verdana,Arial;color:#333333;}
body{margin:0;background:#396CA2; }
form{margin:0px;}
img{border:none;}
input{height:20px; line-height:20px}
a:link,a:visited,a:active {color:#ABBBD6;text-decoration:none;}
.msg{width:580px;margin:auto; }
.head{background:url('login_box_top.gif') no-repeat 0 0px;height:13px;}
.content{background:#FFFFFF url('login_box_mid.gif') repeat-y 0 0px;line-height:200%;word-break:break-all;}
.bottom{background:#FFFFFF url('login_box_bot.gif') no-repeat 0 0px; height:162px;}
.ml{color:#FFFFFF;background:url('msg.gif') no-repeat 0 0;padding-left:10px;}
.mr{float:right;background:url('msg.gif') no-repeat 0 -34px;width:4px;font-size:1px;}
.btn{background:url('login.gif') no-repeat;height:30px;line-height:30px;width:80px; font-size:12px;border:none;cursor:pointer; color:#FFFFFF; font-size:14px; font-weight:bold}
.inp{border:#86A2C0 1px solid;color:#000000;}
.tip{color:#ABBBD6;}
.c_p{cursor:pointer;}
.loginbg{background:#F7F7F7 url('loginbg.png') no-repeat 0 0px; width:128px; height:128px;}